@font-face {
    font-family: 'tt_firs_neue_trlbold';
    src: url('../fonts/tt_firs_neue_trial_bold-webfont.woff2') format('woff2'),
         url('../fonts/tt_firs_neue_trial_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_firs_neue_trldemibold';
    src: url('../fonts/tt_firs_neue_trial_demibold-webfont.woff2') format('woff2'),
         url('../fonts/tt_firs_neue_trial_demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_firs_neue_trlextrabold';
    src: url('../fonts/tt_firs_neue_trial_extrabold-webfont.woff2') format('woff2'),
         url('../fonts/tt_firs_neue_trial_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_firs_neue_trlit';
    src: url('../fonts/tt_firs_neue_trial_italic-webfont.woff2') format('woff2'),
         url('../fonts/tt_firs_neue_trial_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_firs_neue_trllight';
    src: url('../fonts/tt_firs_neue_trial_light-webfont.woff2') format('woff2'),
         url('../fonts/tt_firs_neue_trial_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_firs_neue_trlmedium';
    src: url('../fonts/tt_firs_neue_trial_medium-webfont.woff2') format('woff2'),
         url('../fonts/tt_firs_neue_trial_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_firs_neue_trlregular';
    src: url('../fonts/tt_firs_neue_trial_regular-webfont.woff2') format('woff2'),
         url('../fonts/tt_firs_neue_trial_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_firs_neue_trlthin';
    src: url('../fonts/tt_firs_neue_trial_thin-webfont.woff2') format('woff2'),
         url('../fonts/tt_firs_neue_trial_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


:root {
    --font-global: 'tt_firs_neue_trlregular' !important;
    --font-SubHeding: 'tt_firs_neue_trlregular'  !important;
    --font-Headings:'tt_firs_neue_trlbold' !important;
    --font-Navigation:'tt_firs_neue_trlbold' !important;
    --font-Text:'tt_firs_neue_trllight' !important;
  }

  body{
    font-family: var(--font-global) !important;
  }


  nav.login-navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

nav.login-navbar li {
    padding-left: 0px;
}

nav.login-navbar ul li a {
    font-family: var(--font-global) !important;
    font-size: 17px;
    text-transform: uppercase;
    color: #190278;
    padding:24px;
}
/* nav.login-navbar ul li a.active{
    background-image: url("../img/home/Subtract.png") !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color:#fff !important;
} */

a.logactin.active {
    background: #fd696c;
    color: #fff !important;
    border-top-right-radius: 53px;
    padding: 15px 30px !important;
    border-bottom-right-radius: 53px;
    position: relative;
    color:#fff !important;
}

a.logactin.active:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 100px;
    background-color: #fff;
    left: -13px;
    top: 12px;
}

a.signactin.active{
    background: #fd696c;
    color: #fff !important;
    border-top-left-radius: 53px;
    padding: 15px 30px !important;
    border-bottom-left-radius: 53px;
    position: relative;
    color:#fff !important;
}

a.signactin.active:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 100px;
    background-color: #fff;
    right: -13px;
    top: 12px;
}

section.top_sections h1 {
    font-family: var(--font-SubHeding) !important;
    font-size: 73px;
    color: #fff;
}

section.top_sections h1 span {
    color: #6515E9;
    position:relative;
}
section.top_sections h1 span:before {
    position: absolute;
    content: "";
    display: inline-block;
    background:url("../img/home/text-bg.png");
    height: 100%;
    width: 100%;
    top: 0;
    background-size: contain;
    background-repeat: no-repeat;
}
section.top_sections p.vl-paragraph {
    font-family: var(--font-Text) !important;
    font-size: 20px;
}
ul.hero-btn li {
    display: flex;
    float: left;
}
ul.hero-btn {
    padding: 0;
    list-style: none;
    margin-top: 30px;
    float: left;
}
ul.hero-btn li a{
    color: #fff !important;
    border-top-left-radius: 53px;
    padding: 15px 30px !important;
    border-bottom-left-radius: 53px;
    position: relative;
    color:#fff !important;
}
ul.hero-btn li a.Get-start{
    background:url("../img/home/Subtract1.png");
    position: relative;
    color:#fff !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
}

/* ul.hero-btn li a.Get-start:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 100px;
    background-color: #fff;
    right: -13px;
    top: 12px;
} */

.money-exchange-box {
    background-color: #fd696c;
    box-shadow: 0px 4px 94px 0px rgba(217, 84, 108, 0.32);
    border-radius: 50px;
    //background-image:url('../img/home/Rectangle1.png');
    background-repeat: no-repeat;
    background-position: right;
    padding:40px 50px;
    position: relative;
}
.money-exchange-box:after{
    position: absolute;
    content: url('../img/home/Rectangle2.png');
    left: 400px;
    top: 33px;
  }
.money-exchange-box .row {
    align-items: center;
}
.exchangebtn{
    position: relative;
}

.exchangebtn:after{
    position: absolute;
    content: url('../img/home/Union1.png');
    right: -42px;
    top: 30px;
}
.playstoreicon-section {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 40px;
}
ul.playstoreicon {
    padding: 0;
    list-style: none;
    float: left;
    width: 100%;
    display: flex;
    justify-content: start;
    margin: 0;
    position: relative;
}
ul.playstoreicon:after {
    position: absolute;
    content: "";
    border: 1px solid #fff;
    right: -28px;
    height: 70px;
    top: -9px;
    opacity: 20%;
}
ul.playstoreicon li {
    background: #fff;
    margin-right: 7px;
    border-radius: 70px;
    padding: 10px;
    width: 82px;
    text-align: center;
}
ul.playstoreicon li a {
    width: 100%;
    display: block;
}

.playstoreicon-section p{
    font-family: var(--font-SubHeding) !important;
    color:#fff;
    font-size: 21.26px;
}
.playstoreicon-section span{
    font-family: var(--font-Text) !important;
    color:#fff;
    font-size: 14px;
}
.new_card button {
    font-family: var(--font-global) !important;
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    padding: 24px;
    background: transparent;
    height: auto !important;
    position:relative;
}

.new_card button {
    padding: 15px 30px !important;
    border-bottom-right-radius: 53px !important;
    border-top-right-radius: 53px !important;
    margin-top: 24px;
    border-radius: 0px;
    width:50%;
}

.new_card button.continue-button{
    background-color:#fff;
    color:#FD696C;
}
.new_card button.continue-button:before{
    position: absolute;
    content: '';
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 100px;
    background-color:#FD696C;
    left: -13px;
    top: 12px;
}

.new_card button.continue-button:hover {
    color: #FD696C !important;
    background: #fff !important;
}
.partners-section {
    margin-top: 130px;
    text-align: center;
    margin-bottom: 50px;
}

.partners-section h1 {
    font-family: var(--font-SubHeding) !important;
    font-size: 43px;
    color: #190079;
    font-weight: 600;
    margin-bottom: 20px;
}

.partners-section p {
    font-family: var(--font-Text) !important;
    font-size: 17px;
    color: #040A2E;
    font-weight: 400;
    margin-bottom: 50px;
}
section.why-us_section.homepage-why-us .vl-paragraph p {
    font-family: var(--font-Text) !important;
    font-size: 17px;
    color: #040A2E;
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
}
.custom-col5 {
    width: 37%;
}
.custom-col2 {
    width: 26%;
}
.remit_keypoints {
    background: rgb(25 2 120 / 5%);
    border-radius: 22px;
    padding: 30px 30px 30px 50px;
    height: 304px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.remit_keypoints h4{
    font-family: var(--font-Headings) !important;
    font-size: 22px;
    color: #190079;
    margin-top: 15px;
}
.remit_keypoints p {
    color: rgb(4 10 46 / 60%);
    font-family: var(--font-Text) !important;
    font-size: 17px;
    font-weight:400;
}


.dark_box_bg {
    width: 100%;
    height: 100%;
    background-color: #6515E9;
    background-image:url('../img/home/mask.png');
    background-repeat: no-repeat;
    background-position: right 7px;
    background-size: cover;
    overflow: hidden;
}
.remit_keypoints h1{
    color:#190278;
}
.remit_keypoints h1 p {
    background: linear-gradient(86.01deg, #190278 1.99%, #E15C6D 48.03%, #6515E9 98.14%), linear-gradient(0deg, #190278, #190278);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 43px;
    font-weight: 600;
}
.light_box_bg{
    background-image:url('../img/home/Vector5.png');
    background-repeat: no-repeat;
    background-position: right top;
}
.remit_keypoints a {
    text-align: center;
    margin: 0 auto;
    background: #6414e9;
    padding: 15px 30px !important;
    border-radius: 53px;
}
.why-us_section p.vl-paragraph {
    font-family: var(--font-Text) !important;
    font-size: 17px;
    color: #040A2E;
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
}

.banner_section01 button {
    background: transparent !important;
    border: 1px solid #0AEDC7;
    padding: 10px 30px;
    border-radius: 53px !important;
}

.banner_section01 button:hover {
    background: #0AEDC7 !important;
}

.banner_section01 .react-multiple-carousel__arrow--left::before{
    content:url('../img/home/arrowgl.png');
    top: 4px;
}

.banner_section01 .react-multiple-carousel__arrow--left:hover::before{
    content:url('../img/home/arrowbl.png');
}

.banner_section01 button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
    margin-right: 40px;
}

.banner_section01 .react-multiple-carousel__arrow--right::before{
    content:url('../img/home/arrowgr.png');
    top: 4px;
}
.banner_section01 .react-multiple-carousel__arrow--right:hover::before{
    content:url('../img/home/arrowbr.png');
}


.flags-container {
    background: #6515E9;
    border-radius: 20px;
    padding: 30px;
    border-top-left-radius: 86px;
    border-bottom-left-radius: 86px;
    border: 1px solid #6515E9;
}
.flags-container:hover {
    border: 1px solid #A595EB;
    box-shadow: 0px 1px 26px 12px #A595EB inset;
}
.flags-container img{
    width:auto;
}

.flags-container label {
    font-family: var(--font-Text) !important;
    font-size: 17px;
    color: #fff;
    font-weight: 400;
    display: contents;
}
.flags-container .items-start {
    justify-content: start;
    align-items: center;
}
.flags-container .image-item{
    margin-right: 33px;
    padding:0px !important;
}
.image-item:after {
    position: absolute;
    content:url('../img/home/flags-arrow.png');
    right: -33px;
    top: 40px;

}

.flags-container button.react-multiple-carousel__arrow--right, .flags-container button.react-multiple-carousel__arrow--left{
    top: -150px;
}